@import url("header.css");

html {
  background-color: lightsalmon;
}

body {
  margin: auto;
  text-align: center;
  width: 960px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


main {
  margin-top: 15px;
  background-color: lightcyan;
  border: 2px solid darkblue;
  border-radius: 25px;
  padding: 25px;

}

main > section > p {
  width: 500px;
  margin: 0px auto 10px auto;
  background-color: white;
  padding: 10px;
  border: 1px solid darkblue;
  border-radius: 25px;
  font-size: larger;
  font-variant: small-caps;
}

table {
  margin: 25px auto;
  background-color: white;
  border: 2px solid seagreen;
}

table > tr:nth-child(even) {
  background-color:#e6fff2;
}

table > tr > td {
  width: 45px;
  padding: 3px;
  border: 1px solid lightseagreen;
}
table > tr > th {
  padding: 3px;
  text-align: left;
  vertical-align: bottom;
}

main section:nth-child(2) {
  background-color: white;
  border: 1px solid darkcyan;
  text-align: left;
  width: 200px;
  padding: 10px;
}
main section:nth-child(2) input {
  display: block;
}
#new-store legend {
  background-color: lightcyan;
  border: 1px dotted cyan;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}
#new-store input:nth-child(3) {
  margin-top: 10px;
}

main section:nth-child(3) {
  background-color: white;
  border: 1px solid darkcyan;
  text-align: left;
  width: 200px;
  padding: 10px;
}