body {
  margin: auto;
  text-align: center;
  width: 960px;
}

header > ul > li {
  display: inline-block;
  padding: 5px;
}

main {
  background-color: lightgray;
  padding: 25px;
}

#stores > div {
  display: inline-block;
  margin: auto;
  padding: 10px;
  background-color: black;
}

#stores > div > ul {
  background-color: white;
}

#stores > div > h3 {
  background-color: lightblue;
  padding: 4px;
}

#stores > div > ul > li {
  padding: 3px;
  text-align: left;
}

#stores > div > ul > li:last-child {
  background-color: lightblue;
}