html {
  background-color: lightsalmon;
}

body {
  margin: auto;
  text-align: center;
  width: 960px;
}

header {
  width: 960px;
  background-color: lightblue;
  height: 100px;
  margin-top: 10px;
  border: 2px solid darkblue;
  border-radius: 25px;
}
h1 {
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  bottom: 55px;
}

#left-logo {
  width: 200px;
  position: relative;
  right: 370px;
  top: 15px;
}
#right-logo {
  transform: scaleX(-1);
  width: 200px;
  position: relative;
  left: 370px;
  bottom: 80px;
}
header > nav > ul {
  position: relative;
  bottom: 105px;
}

header > nav > ul > li {
  display: inline-block;
  background-color: white;
  padding: 8px;
  margin: 0px 3px 0px 3px;
  border: 1px solid darkblue;
  border-radius: 25px;
  /* width: 90px; */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header > nav > ul > li > a {
  text-decoration: none;
}

main {
  margin-top: 15px;
  background-color: lightcyan;
  border: 2px solid darkblue;
  border-radius: 25px;
  padding: 25px;

}

main > section > p {
  width: 500px;
  margin: 0px auto 10px auto;
  background-color: white;
  padding: 10px;
  border: 1px solid darkblue;
  border-radius: 25px;
  font-size: larger;
  font-variant: small-caps;
}

#storeOutput {
  margin: 25px auto;
  background-color: white;
  border: 2px solid seagreen;
}

#storeOutput > tr:nth-child(even) {
  background-color:#e6fff2;
}

#storeOutput > tr > td {
  width: 45px;
  padding: 3px;
  border: 1px solid lightseagreen;
}
#storeOutput > tr > th {
  padding: 3px;
  text-align: left;
  vertical-align: bottom;
}

#workersPerHour > tr:nth-child(even) {
  background-color:#e6fff2;
}

#workersPerHour > tr > td {
  width: 45px;
  padding: 3px;
  border: 1px solid lightseagreen;
}
#workersPerHour > tr > th {
  padding: 3px;
  text-align: left;
  vertical-align: bottom;
}
#workersPerHour {
  margin: 25px auto;
  background-color: white;
  border: 2px solid seagreen;
}
#workersPerHour > tr:first-child > td {
  padding: 3px;
}

footer {
  margin-top: 15px;
  background-color: lightcyan;
  border: 2px solid darkblue;
  border-radius: 25px;
  padding: 15px;
}