@import url("header.css");

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-image: url("../images/background.jpg");
  background-size: auto;
  box-sizing: border-box padding-box;
}

/* ---------------- Main ----------------- */
main {
  width: 960px;
  margin: auto;
}
main h2:first-child{
  background-color: white;
  padding: 10px;
  margin: 15px 0px 15px 0px;
  border: 1px solid darkcyan;
  border-radius: 20px;
  font-size: 30px;
}
main section {
  width: 300px;
  float:left;
}
main section p {
  padding: 10px;
  border: 1px solid darkcyan;
  margin: 5px;
  border-radius: 10px;
}
main section figure img {
  width: 300px;
}
figcaption {
  padding: 10px;
  border: 1px solid darkcyan;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}
#middle-section {
  margin:0px 20px 0px 20px;
  background-color: white;
  border: 1px solid darkcyan;
}
main section:nth-child(4) p {
  padding: 10px;
  border: 1px solid darkcyan;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}
main section article section {
  margin-top: 20px;
  padding: 0px;
  border: 1px solid darkcyan;
}
main section article section:nth-child(odd) {
  background-color: lightsalmon;
}
main section article section:nth-child(even) {
  background-color: white;
}
main section article img {
  margin: 5px 5px 5px 5px;
  width: 60px;
  float: right;
}
main section article p {
  width: 190px;
  float: left;
}

 /* ----------- locations elements -------- */
 #locations {
   font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #locations section {
  background-color: white;
  border: 1px solid darkcyan;
  margin: 10px 0px 0px 0px;
 }
 #locations img {
   float: left;
   height: 50px;
 }
 #locations h3 {
   font-size: 50px;
 }
 #locations address {
   background-color: lightsalmon;
   /* font-size: large; */
   padding: 5px;
 }
 #locations p {
   padding: 5px;
 }
 #locations a {
   text-decoration: none;
   color: #714b3e;
 }
 #locations p:nth-child(6) {
   background-color: lightsalmon;
 }
 #locations h2 {
   font-size: 25px;
   background-color: white;
   padding: 10px;
   border: 1px solid darkcyan;
   border-radius: 15px;
 }

 footer {
    height: 60px;
    background-color: lightsalmon;
    clear: both;
    padding: 10px;
    line-height: 60px;
  }
  footer p {    
    color: white;
    font-size: larger;
    text-shadow: 1px 1px black;
    width: 300px;
    margin: auto;
    background-color:#e27450;
    border-radius: 25px;
 }