body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-image: url("../images/background.jpg");
  box-sizing: border-box;
}

/* ----------- HEADER ------------ */
header {
  height: 100px;
  background-color: lightsalmon;
}
header nav {
  width: 960px;
  margin: auto;
}
header img {
  height: 80px;
  float: left;
  margin-top: 10px;
}
header ul {
  float: left;
}
header ul li {
  display: inline-block;
  background-color: lightcyan;
  margin: 35px 36px;
  padding: 10px;
  width: 80px;
  border: 1px solid darkcyan;
  border-radius: 15px;
}
header ul li:first-child {
  margin-left: 30px;
}
header ul li a {
  text-decoration: none;
  font-variant: small-caps;
  font-size: large;
}
/* ---------------- Main ----------------- */
main {
  width: 960px;
  margin: auto;
}
main h2:first-child{
  background-color: white;
  padding: 10px;
  margin: 15px 0px 15px 0px;
  border: 1px solid darkcyan;
  border-radius: 20px;
  font-size: 30px;
}
main section {
  width: 300px;
  float:left;
}
main section p {
  padding: 10px;
  border: 1px solid darkcyan;
  margin: 5px;
  border-radius: 10px;
}
main section figure img {
  width: 300px;
}
figcaption {
  padding: 10px;
  border: 1px solid darkcyan;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}
main section:nth-child(3) {
  margin:0px 20px 0px 20px;
  background-color: white;
  border: 1px solid darkcyan;
}
main section:nth-child(4) p {
  padding: 10px;
  border: 1px solid darkcyan;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}

 /* ----------- locations elements -------- */
 #locations {
   font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #locations section {
  background-color: white;
  border: 1px solid darkcyan;
  margin: 10px 0px 0px 0px;
 }
 #locations img {
   float: left;
   height: 50px;
 }
 #locations h3 {
   font-size: 50px;
 }
 #locations address {
   background-color: lightsalmon;
   font-size: larger;
   padding: 5px;
 }
 #locations p {
   padding: 5px;
 }
 #locations a {
   text-decoration: none;
   color: #714b3e;
 }
 #locations p:nth-child(6) {
   background-color: lightsalmon;
 }
 #locations h2 {
   font-size: 25px;
   background-color: white;
   padding: 10px;
   border: 1px solid darkcyan;
   border-radius: 15px;
 }

 /* footer {
    height: 100px;
    background-color: lightsalmon;
 } */
